# Python
__pycache__/
*.pyc

# Models
models/*.pkl

# CatBoost logs
**/catboost_info/

# Jupyter
.ipynb_checkpoints/
.DS_Store

# Notebook outputs
*.nbconvert.ipynb

# Results
results/*.png
results/*.jpg

# Environment
venv/
.env

# data
data/raw/
data/processed/
*.csv